/* Colours */

:root {
    /* Base */
    --black: #000000;
    --white: #ffffff;
    --gray: #f6f6f6;    
  
    /* Colours */
    --bluenight: #12186d;
    --bluegem: #00a4f7;
    --bluesky: #abe3ff;
    --greenplanet: #3a9c26;
  
    /* Type */
    --type: #202124;
    --type_grey: #a6a6a7;
    --type_light_grey: #f2f2f2;
  
  }
  